body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* header */
header {
  display: flex;
  flex-direction: row-reverse;
  border-bottom: 1px solid #f2f2f2;
  min-height: 40px; 
  /* 
    min-height를 주네? 
    padding을 줘서 여백 맞추기가 최고여
    패딩 준다음에 높이가 부족하걸랑 min height를 주자
    왜냐하면 padding을 줘도 높이가 상승한다
  */
  align-items: center;
  justify-content: space-between;
  padding: 10px 40px;
}

header a {
  margin: 0 10px;
  text-decoration: none;
  color: gray;
}

header a:hover,
header a:focus{
  color:black;
}

/* footer */
footer {
  display: flex;
  gap: 20px;
  background-color: #f2f2f2;
  min-height: 40px;
  /* min height를 줘도 padding을 줘도 백그라운드 컬러의 여백이 증가하네 */
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  font-size: 14px;
}

footer a {
  text-decoration: none;
  color: gray;
}

footer a:hover,
footer a:focus{
  color:black;
}

/* post-navigation */
.post__navagiation {
  display: flex;
  gap: 12px;
  max-width: 680px;
  margin: 0 auto;
  /* 여기서 margin 0 auto는 max-width값을 설정해줬을 때 그 박스 크기안에 가운데정렬이 작동되었다 */
  font-size: 16px;
  color: gray;
  cursor: pointer;
  padding: 40px 20px 0 20px;
}

.post__navagiation--active {
  font-weight: 800;
  color: black;
}

/* post list */
.post__list {
  min-height: 90vh;
  /* 
    view port 90%를 주는 구나... 
    내용도 마찬가지로 우선 패딩을 줘서 한줄이 꽉차 있을 경우까지 생각한다음에
    text-center
    max-width값을 680px을 줬네...  항상 max를 보면 반응형을 생각하자
  */
  padding: 20px;
  max-width: 680px;
  margin: 0 auto;
  line-height: 24px;
}

.post__box {
  padding-top: 24px;
  padding-bottom: 24px;
  border-top: 1px solid #f2f2f2;
}

.post__profile-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  align-items: center;
}

.post__profile {
  width: 36px;
  height: 36px;
  background-color: #f2f2f2;
  border-radius: 100%;
}

.post__author-name, .post__date {
  color: gray;
}

.post__title{
  font-size: 20px;
  font-weight: 500;
  margin:  14px 0px;
}

.post__text {
  color: dimgray;
  font-size: 16px;
}

.post__list a {
  text-decoration: none;
  color: black;
}

.post__utils-box {
  display: flex;
  gap: 8px;
  font-size: 14px;
  flex-direction: row-reverse;
  color: gray;
}

.post__delete:hover,
.post__delete:focus{
  color:black;
}

.post__edit:hover,
.post__edit:focus{
  color:black;
}